poms/
temp/
code/routines/system/
sqlPatterns/
.settings
.project
talend.project
.JETmitters/
.metadata/
TDQ_Libraries/
pom.xml

data/out
data/tmp
data_c2/out
data_c2/tmp

#by kfouri
*.screenshot
# *.properties

*.zip
*.jar